:root {
    font-family: "Roboto", sans-serif;

    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 20px;
        font-weight: bold;
    }

    h3 {
        font-size: 18px;
    }


    span {
        font-size: 12px;
    }


    body {
        margin: 0% !important;
        padding: 0% !important;


    }
}